<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Pages>12</Pages><Words>5298</Words><Characters>5470</Characters><Lines>0</Lines><Paragraphs>0</Paragraphs><TotalTime>0</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>5595</CharactersWithSpaces><Application>WPS Office WWO_wpscloud_20260916174450-7bfc4fa662</Application><DocSecurity>0</DocSecurity></Properties>